.about-header {
  margin-bottom: 50px;
}

.about-promo,
.about-purposes,
.about-production,
.about-range,
.about-equipment {
  margin-bottom: 30px;
}

@media(min-width: $tablet-width) {
  .about-promo {
    margin-bottom: 110px;
  }
  .about-equipment {
    margin-bottom: 180px;
  }
}

@media(min-width: $desktop-width) {
  .about-header {
    margin-bottom: 20px;
  }
  .about-purposes,
  .about-range {
    margin-bottom: 70px;
  }

  .about-production {
    margin-bottom: 180px;
  }

  .about-equipment {
    margin-bottom: 300px;
  }
}



