.range {
  & .templated__image--1 {
    max-height: 910px;
    overflow: hidden;
  }
  & .templated__image--2 {
    max-height: 320px;
    overflow: hidden;
  }
}

@media(min-width: $desktop-width) {
  .range {
    & .templated__image--2 {
      max-height: 420px;
    }
  }
}